<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.testo.mapper.LoginMapper">


    <!--query user from userName-->
    <select id="queryUser" resultType="com.testo.model.SysUser" parameterType="String">
        SELECT *
        FROM sys_user
        WHERE userName=#{userName}
    </select>


    <!--get user permission from username -->
    <select id="getUserPower" resultType="java.util.HashMap" parameterType="String">
        SELECT user.userId ,user.userName,role.roleName,role.roleId,per.permissionsName ,per.perId,per.perRemarks
        FROM sys_user AS user,
			 sys_role AS role,
			 sys_permissions AS per,
			 role_per,
			 user_role
        WHERE user.userName=#{userName}
          AND user.userId=user_role.userId
          AND user_role.roleId=role.roleId
          AND role_per.roleId=role.roleId
          AND role_per.perId=per.perId
    </select>

</mapper>